{% extends 'app/base.html' %} {% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Search</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    {% block register %}
    <h5> Result search for {{searched}} </h5> </br>
    {% for key in keys %}
      {{key}} </br>
    {% endfor %}
    {% endblock register %}
  </body>
</html>
